
<!DOCTYPE html>
<html>
    <head>
        <style>
            body {background-color: white;}
            h1 {
            text-align:center;
            color:red;
            font-family:verdana;
            font-size:45px;
        }
        h2{
            text-align:center;
            color:blue;
            font-family:verdana;
            font-size:35px;
        }
        h3{
            text-align:center;
            color:black;
            font-family:verdana;
            font-size:25px;
        }
        </style>
 

    </head>
    <body>
        <h1>The Top Winners</h1>
        <h2>Senior Category</h2>
        <h3>Song Yang Xi</h3>
        <h3>Pang Chen Chen</h3>
        <h3>Fanny Chow</h3>
        <h2>Junior Category</h2>
        <h3>Jonny Wick</h3>
        <h3>Ben Chong</h3>
        <h3>Kong Boo Joo</h3>
        <h2>We congratulate all the winners!</h2>
        
    </body>
</html>
